---
import { createClient } from '@libsql/client'
import Score from './Score.svelte'

const { data } = Astro.props;

let the_url = '/projects/'+ data.repo.split('/')[1]

const date = new Date(data.date);
const options = { month: 'short', day: 'numeric' };
const friendlyDate = date.toLocaleDateString('en-US', options);

const turso = createClient({
  url: import.meta.env.TURSO_DATABASE_URL,
  authToken: import.meta.env.TURSO_AUTH_TOKEN,
});

const db_data = await turso.execute({
    sql: "SELECT * FROM pagespeed WHERE commit_hash = ? ORDER BY created_at DESC LIMIT 1",
    args: [data.sha],
  });
 
let db_result = db_data.rows[0];

let scores = false

if (db_result && db_result.commit_hash === data.sha) {
	scores = true
}

---

<div class="w-[96%] md:w-[80%] m-auto bg-white rounded-[12px] p-2 pl-4 pb-4 pt-3 border-2 border-[#EFEFEF]">
	<div class="flex items-center">
		<img src="/apple-touch-icon.png" class="w-[30px] h-[30px] rounded-full mr-4" alt="{data.name}">
		<span class="text-sm">{data.name} made a commit to <a href="{the_url}">{data.repo}</a></span>
	</div>
	<div class="">
		<span class="inline-block text-2xl pt-4 pb-4">{data.message}</span>
	</div>
	<div class="flex justify-between items-center w-[70%] m-auto">
  	<div class={`rounded-[12px] text-xs pt-1 pb-1 pl-4 pr-4 border-opacity-50 border 
    	${data.verified ? 'text-green-600 border-green-700' : 'text-red-100 border-red-100 bg-red-600'}`}>

    	{data.verified ? 'Verified' : 'Not Verified'}
  	
  	</div>
  	<div class="ml-4 text-sm">
    	<a href={`https://github.com/${data.repo}/commit/${data.sha}`} target="_new">{data.sha.slice(0, 7)}</a>
  	</div>
  	<div class="ml-4 text-sm font-bold">
		<span class="text-green-500">+{data.stats.additions.toLocaleString('en-US')}</span>
		<span class="text-red-500">-{data.stats.deletions.toLocaleString('en-US')}</span>
	</div>
	<div class="ml-4 text-sm">
		{friendlyDate}
	</div>
</div>
	{scores &&
		<div class="flex justify-between w-[50%] m-auto mt-3">
			<div title='Performance'><Score value={db_result.performance} size=40 /></div>
			<div title='Best Practices'><Score value={db_result.best_practices} size=40 /></div>
			<div title='Accessibility'><Score value={db_result.accessibility} size=40 /></div>
			<div title='SEO'><Score value={db_result.seo} size=40 /></div>
		</div>
	}
</div>
